<header>
  <h1><a href="/">AdAstra</a></h1>
  <nav>
    <a id="catalogLink" href="/" class="active">Explore</a>
    <div id="user">
      <a id="createLink" href="/create" >Create Publication</a>
      <a id="profileLink" href="/my-publications" >My Publications</a>
      <form id="logout-form" th:action="@{/logout}" th:method="post">
        <a id="logoutBtn" href="#" onclick="document.querySelector('#logout-form').submit();">
          Logout
        </a>
      </form>
    </div>
    <div id="guest">
      <a id="loginLink" href="/login">Login</a>
      <a id="registerLink" href="/register">Register</a>
    </div>
  </nav>
</header>

