<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{/fragments/head.html}"></th:block>
    <title>Explore</title>
</head>
<body>
<th:block th:include="~{/fragments/header.html}"> </th:block>
<script>
    document.querySelector("#catalogLink").classList.add("active")
</script>

<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Welcome to AdAstra</h1>
            <p>Lorem ipsum</p>
        </div>
    </div>
    <div class="row">
        <div class="sidebar col-md-8">
            <div class="widget user_widget_search">
                <h2>Search</h2>
                <form id="user_wiget_search_form" class="user_wiget_search_form" method="GET">
                    <div class="form-group">
                        <label for="search-term">Search term</label>
                        <input type="text" class="form-control" id="search-term" placeholder="Search term" style="width: 94.25%;">
                    </div>
                    <div class="form-group">
                        <label for="sort">Sort</label>
                        <select class="form-control custom-select" id="sort">
                            <option>Newest</option>
                            <option>Oldest</option>
                            <option>A-Z</option>
                            <option>Z-A</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="filter">Search By</label>
                        <select class="form-control custom-select" id="filter">
                            <option>Everything</option>
                            <option>Title</option>
                            <option>Description</option>
                            <option>User</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row space-top">

        <div class="col-md-2" th:each="publication : ${publications}">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <img class="thumbnail" th:src=${publication.image} />
                    <p th:text="${publication.title}"></p>
                    <div>
                        <a th:href="@{/publications/{id}(id=${publication.id})}" class="btn btn-info">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row space-top">
        <div class="pagination center">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>

</div>
</body>
</html>